<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Calculator</title>

    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script type="text/javascript" th:src="@{/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/app.js}"></script>
</head>
<body>
    <div class="sectCntr">
        <p>Hi!</p>

        <div class="blocks blocks__alnCenter">
            <div>

                <div class="card">
                    <div>
                        Add an Employee
                    </div>
                    <div>

                        <div class="blocks blocks_2up">
                            <div>
                                <label class="fieldSet">
                                    <p class="fieldSet-label">First Name</p>
                                    <input
                                        type="text"
                                        required
                                        class="js-employee-firstname fieldSet-input"
                                    />
                                </label>
                                <label class="fieldSet">
                                    <p class="fieldSet-label">Last Name</p>
                                    <input
                                        type="text"
                                        required
                                        class="js-employee-lastname fieldSet-input"
                                    />
                                </label>
                            </div>
                            <div>
                                <label class="fieldSet">
                                    <p class="fieldSet-label">Position</p>
                                    <select class="js-employee-position fieldSet-select">
                                        <option value="Associate">Associate</option>
                                        <option value="Associate">Analyst</option>
                                        <option value="Associate">Senior Analyst</option>
                                        <option value="Associate">Manager</option>
                                    </select>
                                </label>
                                <label class="fieldSet">
                                    <p class="fieldSet-label">Salary</p>
                                    <input
                                        class="js-employee-salary fieldSet-input"
                                        type="number"
                                        required
                                    />
                                </label>
                            </div>
                        </div>

                    </div>
                    <div>
                        <button class="js-add-employee">ADD EMPLOYEE</button>
                    </div>
                    <div>
                        <p class="js-employee-message"></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="blocks blocks__alnCenter">
            <div>
                <div class="card">
                    <div class="card-hd">
                        Search for Employee by ID
                    </div>
                    <div>
                        <label>
                            <p>Employee ID:</p>
                            <input type="number" class="js-search-id" />
                        </label>
                    </div>
                    <div>
                        <button class="js-on-search-id">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>